language: java
notifications:
  webhooks:
    urls:
    - 'https://webhook.atomist.com/travis'
    on_cancel: always
    on_error: always
    on_start: always
    on_failure: always
    on_success: always
